<h1>                                                                            
<div class="gulogo">
    <a class="gulogo" href="http://www.library.georgetown.edu" title="Georgetown University Library Website">
        <%= image_tag "/assets/library_logo.png", :alt => "Georgetown University Library Website" %>
    </a>
    <a class="gudglogo" href="http://repository.library.georgetown.edu" title="DigitalGeorgetown">
        <%= image_tag "/assets/digitalgeorgetown-logo-small-inverted.png", :alt => "DigitalGeorgetown" %>
    </a>
</div>
     <%= I18n.t("brand.title") %>
</h1>   
