header div.branding-container {
    background-color: #022349;
}

footer {
	background-color: #04254b;
	color: white;
}

footer a {
	color: #f9e08e!important;
	text-shadow: none!important;
}

header div.branding-container, footer, footer div.branding-container {
	width: 100%!important;
}

header div.branding-container img, footer div.branding-container img {
    padding-left: 20px;
    padding-right: 20px;
}

div.gulogo, .gudglogo {
	padding-top: 4px;
}

header div.branding-container h1 {
	color: white;
	text-align: center;
	position: relative;
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 24px;
}


a {
    color: #022349!important;
}

.label-info, .badge-info {
  background-color: #72984b!important;
}

body {
  background: #fff url(/assets/linen.png) repeat top left;
}

div.gucarroll {
	text-align: center;
}

@media (max-width: 810px) {
    .gureplogo {
        display: none;
    }

    header div.branding-container {
        text-align: left;
    }
}

@media (min-width: 811px) {
    .gureplogo {
        display: inline;
    }
    /*
    header div.branding-container {
        text-align: center;
    }
    */
}

    
@media (max-width: 1040px) {
    .gudglogo {
        display: none;
    }   
}

@media (min-width: 1041px) {
    .gudglogo {
        display: inline;
    }   
}

footer div.branding-container {
	margin-bottom: 10px;
    text-align: center;
}

div.gu-ask-us {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #022349;
}

div.gu-ask-us, div.gu-ask-us a {
    color: white!important;
}

div.gu-ask-us a {
    text-decoration: underline;
}

div.title-pane div.gu-ask-us {
	margin-top: 10px;
	margin-left: 20px;
}
