<div class="title-pane">
  <div class="row-fluid">
    <div class="span3">
      <div class="gu-ask-us">Please contact the <a href="http://www.library.georgetown.edu/special-collections/using/requests/information">Booth Family Center for Special Collections</a> for assistance with accessing these materials.</div>
    </div>
    <div class="span9">
      <h2><%= record_title %>
        <a id="staff-link" target="_blank" class="btn btn-primary hide">Edit</a>
      </h2>
    </div>
  </div>
</div>
